body {
    font-size: 16px;
    font-family: Arial, sans-serif;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  .container {
    margin: 0 auto;
    width: 100%;
  }
  .container h2 {
    text-align: center;
    margin: 30px 0;
  }
  .container a {
    background-color: #ecf0f1;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    color: #2980b9;
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }
  .container a:hover {
    color: #fff;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
  }
  
  .fade {
    transition: background-color 1000ms;
  }
  .fade:hover {
    background-color: #2980b9;
  }
  
  .back-pulse {
    transition: background-color 1000ms;
  }
  .back-pulse:hover {
    background-color: #2980b9;
    -webkit-animation: back-pulse 1000ms infinite linear 500ms;
    animation: back-pulse 1000ms infinite linear 500ms;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  
  @keyframes back-pulse {
    0%, 50%, 100% {
      background-color: rgba(72, 91, 110, 0.75);
    }
    25%, 75% {
      background-color: #485B6E;
    }
  }
  @-webkit-keyframes back-pulse {
    0%, 50%, 100% {
      background-color: rgba(84, 153, 199, 0.75);
    }
    25%, 75% {
      background-color: #2980b9;
    }
  }
  .sweep-to-right {
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: color 1000ms;
    transition: color 1000ms;
  }
  .sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098d1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;
  }
  .sweep-to-right:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  
  .sweep-to-left {
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: color 1000ms;
    transition: color 1000ms;
  }
  .sweep-to-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098d1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;
  }
  .sweep-to-left:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  
  .sweep-to-bottom {
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: color 1000ms;
    transition: color 1000ms;
  }
  .sweep-to-bottom:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098d1;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;
  }
  .sweep-to-bottom:hover:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  
  .sweep-to-top {
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: color 1000ms;
    transition: color 1000ms;
  }
  .sweep-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098d1;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;
  }
  .sweep-to-top:hover:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  
  .bounce-to-right {
    position: relative;
    -webkit-transition: color 500ms;
    transition: color 500ms;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  .bounce-to-right:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    background: #2098d1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;
  }
  .bounce-to-right:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  }
  
  .bounce-to-left {
    position: relative;
    -webkit-transition: color 500ms;
    transition: color 500ms;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  .bounce-to-left:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    background: #2098d1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;
  }
  .bounce-to-left:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  }
  
  .bounce-to-bottom {
    position: relative;
    -webkit-transition: color 500ms;
    transition: color 500ms;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  .bounce-to-bottom:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    background: #2098d1;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;
  }
  .bounce-to-bottom:hover:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  }
  
  .bounce-to-top {
    position: relative;
    -webkit-transition: color 500ms;
    transition: color 500ms;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  .bounce-to-top:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    background: #2098d1;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;
  }
  .bounce-to-top:hover:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  }
  
  .radial-out {
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition: color 300ms;
    transition: color 300ms;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  .radial-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098d1;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;
  }
  .radial-out:hover:before {
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  
  .radial-in {
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    background-color: #2098d1 !important;
    position: relative;
    -webkit-transition: color 300ms;
    transition: color 300ms;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  .radial-in:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ecf0f1;
    border-radius: 100%;
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;
  }
  .radial-in:hover:before {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  
  .rectangle-in {
    background-color: #2098d1 !important;
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: color 300ms;
    transition: color 300ms;
  }
  .rectangle-in:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ecf0f1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    transition: 300ms ease-out;
  }
  .rectangle-in:hover:before {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  
  .rectangle-out {
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: color 300ms;
    transition: color 300ms;
  }
  .rectangle-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098d1;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;
  }
  .rectangle-out:hover:before {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  
  .shutter-in-horizontal {
    background-color: #2098d1 !important;
    -webkit-transition: color 300ms;
    transition: color 300ms;
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
  }
  .shutter-in-horizontal:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ecf0f1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;
  }
  .shutter-in-horizontal:hover:before {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
  
  .shutter-out-horizontal {
    -webkit-transition: color 300ms;
    transition: color 300ms;
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
  }
  .shutter-out-horizontal:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #2098d1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;
  }
  .shutter-out-horizontal:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  
  .shutter-in-vertical {
    background-color: #2098d1 !important;
    -webkit-transition: color 300ms;
    transition: color 300ms;
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
  }
  .shutter-in-vertical:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ecf0f1;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;
  }
  .shutter-in-vertical:hover:before {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
  
  .shutter-out-vertical {
    -webkit-transition: color 300ms;
    transition: color 300ms;
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
  }
  .shutter-out-vertical:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #2098d1;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;
  }
  .shutter-out-vertical:hover:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  